* {
  background-color: #201b20;
}

body {
  color: aliceblue;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

p {
    font-size: 20px;
    margin: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
