* {
  background-color: #201b20;
}

body {
  color: aliceblue;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

p {
    font-size: 20px;
    margin: 50px;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}

.sig-Ach {
  font-size: 15px;
  color: white;
  /* text-decoration: underline; */
}

/* shouldn't affect nav bar */
/* a:link {
  color: rgb(41, 107, 145);
}

a:visited {
  color: rgb(95, 39, 109);
} */

.SAimg {
  max-width: 1000px
}