* {
  background-color: #201b20;
}

body {
  color: aliceblue;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		 Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
}

p {
    font-size: 20px;
    margin: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
