.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.navigation-bar {
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
}

.navigation-bar:hover {
  color: rgba(0, 128, 0, 0.815);
}

/* .navigation-bar:visited {
  color: white
} */