.references {
  margin-left: 36pt;
  padding-top: 12pt;
  text-indent: -36pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  max-width: 800px;
  margin: auto;
}
.italic {
  font-style: italic;
}

.bodypg {
  max-width: 800px;
  /* text-align: center; */
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  text-indent: 40px;
}
